.container-cart {
  max-width: 1170px;
  margin: 0 auto;
  padding: 80px 0 140px 0;
}

.cartpage_nav {
  display: flex;
  align-items: center;
  margin-bottom: 80px;
  gap: 8px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: rgba(0, 0, 0, 1);
}

.cartpage_nav a {
  color: #666;
  text-decoration: none;
}

.cartpage {
  width: 100%;
}

.cartpage__header {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  padding: 24px 0 24px 40px;
  margin-bottom: 40px;
  border-radius: 4px;
  box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.05);
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
}

.cartpage__item {
  display: grid;
  align-items: center;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  padding: 24px 0 24px 40px;
  margin-bottom: 40px;
  border-radius: 4px;
  box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.05);
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.product {
  display: flex;
  align-items: center;
  position: relative;
}

.cartpage__img {
  margin-right: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.remove-icon {
  position: absolute;
  top: -10px;
  left: -10px;
  width: 18px;
  height: 18px;
  background-color: rgba(219, 68, 68, 1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
}

.cartpage__input {
  width: 72px;
  height: 44px;
  text-align: center;
  border: 1.5px solid rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  outline: none;
  padding: 0 12px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.cart-actions {
  display: flex;
  justify-content: space-between;
}

.cart-actions button {
  padding: 16px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: inherit;
  border-radius: 4px;
  cursor: pointer;
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.cart-actions button:hover {
  background-color: #f5f5f5;
}

.return-to-shop {
  width: 218px;
}

.update-cart {
  width: 195px;
}


.coupon {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}

.coupon__code {
  display: flex;
  gap: 16px;
  height: 56px;
}

.coupon__code input {
  width: 300px;
  padding: 0px 24px;
  outline: none;
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border-radius: 4px;
  border: 1px solid #000;
}

.coupon__code button {
  width: 211px;
  background-color: #db4444;
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #fafafa;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.cart-total{
  width: 470px;
  border: 1.5px solid #000;
  padding: 32px 24px;
  border-radius: 4px;
}

.cart-total h4{
  font-family: Poppins;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 8px;
}

.subtotal-cart{
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
  border-bottom: 1px solid #000;
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.checkout__btn{
  margin-top: 16px;
  display: flex;
  justify-content: center;
}

.checkout__btn button{
  width: 260px;
  height: 56px;
  background-color: #db4444;
  border-radius: 4px;
  border: none;
  line-height: 24px;
  color: #fafafa;
  font-family: Poppins;
  font-size: 16px;
  cursor: pointer;
}