.flex-acc {
  display: flex;
  justify-content: space-between;
}

.welcome-message {
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.welcome-message span {
  color: #db4444;
}

.account-menu {
  display: flex;
  font-family: Poppins;
  justify-content: space-between;
}

.account-nav {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.nav-section {
  display: flex;
  flex-direction: column;
}

.nav-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}
.nav-section ul {
  list-style: none;
  margin-left: 35px;
  margin-top: 16px;
}

.nav-section li {
  margin-bottom: 8px;
}

.nav-section a {
  text-decoration: none;
  color: #888;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.nav-section li.active a {
  color: #db4444;
  font-weight: 500;
}

.nav-section a:hover {
  color: #000;
}

.profile-edit-form {
  padding: 40px 80px;
  /* border: 1px solid red; */
  box-shadow: 0px 1px 13px 0px #0000000d;
  margin-bottom: 140px;
}

.profile-edit-form h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #db4444;
}

.label-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-flex {
  display: flex;
  gap: 50px;
}

form {
  margin-top: 16px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

form input {
  background-color: #f5f5f5;
  padding: 13px 16px;
  border: none;
  outline: none;
  border-radius: 4px;
  height: 50px;
}
.form-flex input {
  width: 330px;
}

.label-column {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.profile-edit-form button {
  margin-top: 24px;
  padding: 16px 48px;
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
}

.cancel-btn {
  background-color: inherit;
}
.save-btn {
  background-color: #db4444;
  color: white;
}

.btn-end {
  display: flex;
  justify-content: end;
}

form input::placeholder {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
